@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

  

html,
body {  
  display: grid;
  height: 100%;
  place-items: center;
  background: #7a88da;
}

#profile-grid {
  max-width: 1100px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  word-break: break-word;
  margin: 20px ;
}

#profile-grid .card .front {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 5px groove #4454ad;
  border-radius: 15px;
  width: 200px;
  height: 300px;
  box-sizing: content-box;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#profile-grid .card .imagen {
  margin: 10px 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  padding: 3px;
}
.card .imagen img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid  #4454ad;
  margin-bottom: 3px;
  box-shadow:0 1px 10px 0 #4454ad ;
}
.card p {
  text-align: justify;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card .nombre {
  margin: 10px 0 3px 0;
  color: #4454ad;
  font-size: 20px;
  font-weight: 400;
  font-family: bold;
}
#estrellas i {
  font-size: 18px;
  color: #4454ad;
  margin-bottom: 5px;
}



.card .profile-thumbnail {
  cursor: pointer;
}

.profile-thumbnail img {
  margin: 10px 0; 
 
  padding: 3px;
 
}

#estrellas{
  font-size: 18px;
  color: #3548b7;
  margin-bottom: 5px;
}
.detail-container {
  display: none;

}

.profile-detail {
  text-align:center ;
  
}

.profile-detail .showcase-row-avatar img{
  border-radius: 50%;
  width: 200px;
  border: 8px solid black;
  box-shadow: -1px 0px 18px 15px rgba(0,0,0,0.12);
  
}

body .profile-detail{
  background: #7a88da;
}









/* Container */

.container{
  
  width: 100%;
 height: 100%;
  overflow: auto;
 
}

/* section header*/

#showcase{
  background-color:#7a88da;
  
}


.showcase-row{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction:column-reverse;
  margin-top: 20px;
  margin-bottom: 20px;

  border-bottom: 1rem solid black;
}

.showcase-row-hi h3{
  font-size: 3rem;
  font-weight: 600 bold;
  text-transform: uppercase;
}
.showcase-row-hi h1{
  font-weight: 400;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 2rem;
}



.container-anim{  
      margin-top: 10px;
      display: inline-block;
      width: 600px;
}

.tipear{
  overflow: hidden;
  border-right: .12em solid black;
  white-space: nowrap;
  font-size: 3rem;
  width: 0;
  animation: typing 5s forwards infinite , tilt 1s;
  ;
}

@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

@keyframes tilt {
  0%{ border-right: .12em solid #7a88da;}
}




#btn{
  background-color: black;
  text-align: center;
  padding: 15px 30px;
  color: white;
  box-shadow: -7px 12px 36px 6px rgba(0,0,0,0.31);;
}

#contacto{
  padding: 0px 30px;
  color: black;
}










/* resumen */

#resumen {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-bottom: 60px;
  

 
}



.column1{
  
  flex-basis: 50%;
  border-right: 5px solid black;

  padding: 30px;
  
}
.column1 p{
  font-size: 1rem;
}



#column2{   
 
  flex-basis: 50%;
  padding: 30px;

}

p{
  font-weight: bold;

}




/* skills */

.skillbars{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.skillbars p{
  font-size: 1rem;
  font-weight: bold;
  margin-top:30px;
  margin-bottom: 20px;
}

.container-bar{
      width: 500px;
      height: 10px; 
      background-color: #b9b2b2;
      border-radius: 30px;
}

.skill {
  text-align: center;
  color: black;
}

.web-design {height: 10px; border-radius: 30px; width: 65%; background-color: #020b3d;}
.html-css {height: 10px;border-radius: 30px; width: 90%; background-color: #020b3d;}
.js {height: 10px;border-radius: 30px; width: 50%; background-color: #020b3d;}
.React {height: 10px;border-radius: 30px; width: 15%; background-color: #020b3d;}
.PHP {height: 10px;border-radius: 30px; width: 30%; background-color: #020b3d;}
.Bootstrap {height: 10px;border-radius: 30px; width: 95%; background-color: #020b3d;}


/* contacto */

#contacto{
  background-color: #7a88da;
}

.contact-row{
  display:flex;
  padding-top: 60px;
  margin-bottom: 60px;
}

#touch{
  padding: 0 100px;

}

#touch h3{
  
  margin-bottom: 20px;
  font-size: 2rem;
}

#touch p{
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}



#form{
 flex-basis: 40%;
 padding: 0  35px;
}

#form h3{
  margin-bottom: 10px;
  font-size: 1.2rem;
}

#form h5{
  font-size: 1rem;
  color: rgb(61, 60, 60);
  margin: 10px;
}

.textarea{
  background-color:white;
  border: none;
  border-bottom: 1px solid rgb(61, 60, 60);
  margin-top: 10px;
  width: 100%;
}

textarea{
  background-color: rgb(248, 248, 247);
  border: none;
  border-bottom: 1px solid rgb(61, 60, 60);
  height: 100px;
}

#submit{
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
}

/* footer */

#footer{
  background-color: black;
  height: 60px;
  width: 100%;
}




/* query 1150 */

@media only screen and (max-width: 1150px){
  .container-bar{
    display:flex;
    flex-basis: 50%;
    margin: 20px;
      width: 400px;
      height: 10px; 
      background-color:#b9b2b2;
      border-radius: 30px;
}


}



@media only screen and (max-width: 1050px){

  .showcase-row{
      text-align: center;
  }

  .showcase-row-hi h1{
      font-size: 1.6rem;
  }

  .showcase-row-hi h2{
    font-size: 2rem;
}

.showcase-row-hi h3{
  font-size: 2.5rem;
}
  #resumen{
      margin-top: 2px;
      font-size: 1rem;
  }

#touch{
  flex-basis: 60%;
}

#form{
  flex-basis: 40%;
}

h3{
  font-size: 1.5rem;
}
h4{
  font-size: 2rem;
}
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    margin-bottom: 5px;
  }
  .showcase-row-hi{
    font-size: 2rem ;

  }
  .contact-row{
      
      padding-top: 50px;
      margin-bottom: 50px;
    }
    
    #touch{
      padding: 0 90px;
    
    }
    
    #touch h3{
      
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
    
    #touch p{
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    
    
    
    #form{
     flex-basis: 50%;
     padding: 0  5px;
    }
    
    #form h3{
      margin-bottom: 5px;
      font-size: 1rem;
    }
    
    #form h5{
      font-size: 0.8rem;
      color: rgb(61, 60, 60);
      margin: 5px;
    }
    
    .textarea{
      background-color:white;
      border: none;
      border-bottom: 1px solid rgb(61, 60, 60);
      margin-top: 10px;
      width: 100%;
    }
    
    textarea{
      background-color: rgb(248, 248, 247);
      border: none;
      border-bottom: 1px solid rgb(61, 60, 60);
      height: 100px;
    }
    
    #submit{
      margin-top: 10px;
      background-color: black;
      color: white;
      padding: 10px 20px;
      border: none;
    }
    
    h3{
      font-size: 1.5rem;
    }
    h4{
      font-size: 2rem;
    }
  }




@media (max-width: 768px) and (max-width: 991px){
  .container-bar{
      width: 325px;
      display:flex;
      height: 10px; 
      background-color: #b9b2b2;
      border-radius: 30px;
      
}
.container {
  width: 100%;
  margin-bottom: 10px;
}

.container-bar{
    display:flex;
      width: 280px;
      height: 10px; 
      background-color: #b9b2b2;
      border-radius: 30px;
  }

    
  /* showcase */
.showcase-row{
      
      text-align: center;
  }
.showcase-row-hi{
      margin-top: 20px;
  }


  /* resumen */
#resumen{
      flex-direction: column;
     

  
  }
 
  #column2{
   border-right:5px solid black ;
  }

  /* sobre-mi */

.skillbars{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 6px;

}
.contact-row{
      display: flex;
      flex-direction: column;
      align-items: center;
     
  }
  /* contacto */
#touch{
  
      text-align: center;
      padding-bottom: 50px;
      
  }
 

#btn-holder{ text-align: center; }
 
#form h3{
      text-align: center;
  }

  h4{
    font-size: 2rem;
  }
  
}



 






@media only screen and (max-width: 576px) and (max-width: 710px) {

  .container {
   
    width: 100%;
  }
  .showcase-row{
      text-align: center;
      justify-content: center;
     
  }

  .showcase-row-hi h1{
      font-size: 1.5rem;
  }
  .showcase-row-hi h3{
    font-size: 2rem;
}

  h4{
    font-size: 1.6rem;
  }

  .container-anim{  
    margin-top: 10px;
    display: inline-block;
    width: 600px;
    padding-left: 100px;
    
}

.tipear{
overflow: hidden;
border-right: .12em solid black;
white-space: nowrap;
font-size: 3rem;
width: 0;
animation: typing 5s forwards infinite , tilt 1s;


}

@keyframes typing {
from { width: 0% }
to { width: 76% }
}

@keyframes tilt {
0%{ border-right: .12em solid #7a88da;}
}


}


@media only screen and (max-width: 415px){

  .container {
   
    width: 67%;
  }
  .container-anim{
    padding-left: 6px;
  }
  .showcase-row{
      text-align: center;
      display: flex;
      justify-content: center;
      
     
  }
  .showcase-row-hi h2{
    font-size: 1.5rem;
}
  .showcase-row-hi h1{
      font-size: 1.3rem;
  }
  .showcase-row-hi h3{
    font-size: 1.5rem;
}
.contact-row{
  padding-top: 20px;
}

  h4{
    font-size: 1.3rem;
  }

  .container-anim{  
    margin-top: 10px;
    display: inline-block;
    width: 600px;
    padding-left: 50px;
    
}

.tipear{
overflow: hidden;
border-right: .12em solid black;
white-space: nowrap;
font-size: 2rem;
width: 0;
animation: typing 5s forwards infinite , tilt 1s;


}

@keyframes typing {
from { width: 0% }
to { width: 76% }
}

@keyframes tilt {
0%{ border-right: .12em solid #7a88da;}
}

#touch{
  
  text-align: center;
  padding-bottom: 50px;
  
}
.skillbars{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 6px;

}

}